{% extends "base.html" %}

{% block title %}Sobre Mí - Jose Gaviño{% endblock %}

{% block content %}
<h1>Sobre Mí</h1>
<p>Hola, soy <strong>Jose Gaviño</strong>, estudiante de Ingeniería en Computación a punto de egresar.</p>
<p>Me apasiona entender cómo funcionan las tecnologías desde sus cimientos, diseñando arquitecturas limpias, modulares y
    contenedorizadas con <strong>Docker</strong> y <strong>Flask</strong>.</p>

<h3>Mi Enfoque de Ingeniería:</h3>
<p>Aprender los patrones de diseño, comprender el flujo de datos entre el Frontend y el Backend, y escribir código
    mantenible utilizando mejores prácticas (SOLID, Clean Code).</p>
{% endblock %}